/* Font */
@font-face {
    font-family: "Reglarik";
    src: url("../fonts/reglarik-italic-otf-1775203716-0/Reglarik-Italic-Exfonte3df.otf");
}


/* Initialisation des paramètres généraux */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    padding: 1rem 1rem;
    height: 100%;
    width: 100%;
    background-color: var(--dayModeBackgroundColor);
}

main{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

p, a, li, h1, h2, h3, h4, h5, button{
    font-weight: normal;
}

li{
    list-style: none;
}
h1, h2, h3, h4, h5, h6, a, p{
    font-family: "Reglarik";
}

h1{
    font-size: 1.5rem;    
}

.firstSection-container{
    display: flex;
    flex-wrap: wrap;
}

.citeDesSciences-container{
    background-image: url();
    display: flex;
    justify-content: center;
    align-items: center;
}